#{extends 'main.html' /}
#{set title:'Home' /}


<div id="sign_in2">
        <div class="container">
		<br/>
            <div class="row login">
                <div class="span5 left_box">
                   <p><strong>Register your company and facilitate your users to submit the time cards quickly</strong></p>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>Lorem alteration</strong> in some form  injected humour these randomised words .</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>There are many variations</strong> of passages of Lorem alteration in some form  injected humour these randomised words.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>Alteration in some form</strong> injected humour these randomised words.</p>
                        </div>
                    </div>
                </div>

                <div class="span6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                               <div class="division">
                                <div class="line l"></div>
                                <span>Company</span>
                                <div class="line r"></div>
                            </div>
                            <div class="form">
				    			#{form @OtherStuff.postAddition()}
				                 		<input type="text" placeholder="Company Name" name="name" value=""/>
				                 		<input type="text" placeholder="Address" name="address" value=""/>
				                 		<input type="text" placeholder="Phone" name="phone" value=""/>
				                 		<input type="text" placeholder="Detail" name="detail" value=""/>
				                        <input type="submit" value="Add Company"/>
				                #{/form}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
