#{extends 'main.html' /}
#{set title:'Add Time' /}
<script>
	$(document).ready(function() {
		$(".span2 input").bind("change", updatesum);
	});
	var updatesum = function() {
		var sum = 0;
		$(".span2 input").each(function() {
			sum += (parseInt($(this).val()) || 0);

		});
		var hellodiv = $("#hello");
		$(hellodiv).empty()
		$(hellodiv).append("Sum of the total hours is:" + sum);
	}
</script>

<div id="sign_in2">
        <div  span12 align="left" class="container">
		<br/>
            <div class="row login">
                <div class="span3 left_box">
                   <p><h3>Add your time for the week starting ${currentWeek}</h3></p>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>Enter the time for </strong> this week.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>Your manager will be </strong> notified. </p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>Make sure </strong> to enter a valid time.</p>
                        </div>
                    </div>
                </div>

                <div class="span9 signin_box">
                    <div class="box">
                        <div class="box_cont">
                             <div class="division">
                                <div class="line l"></div>
                                <span>${currentWeek}</span>
                                <div class="line r"></div>
                            </div>
                            <div class="form">
				    			#{form @OtherStuff.postTimeAddition2()}
				                 		<table class="table table-striped table-bordered table-condensed">
				                 			<tr>
				                 				<th class="span2">
				                 				Day
				                 				</th>
				                 				<th class="span2">
				                 				No. of hours
				                 				</th>
				                 				<th class="span5">
				                 				Remarks
				                 				</th>
				                 			</tr> 
				                 			#{list dayCards, as:'dayCard'}
					                 			<tr>
					                 				<td class="span2">${dayCard.date}
					                 				</td>
					                 				<td class="span2">
					                 				<input class="input-small" type="number" placeholder="Hours" name="noofhours[${dayCard_index-1}]" value=""/>	
					                 				</td>
					                 				<td class="span5">
					                 				<input type="text" placeholder="Remark" name="details[${dayCard_index-1}]" value=""/>
					                 				</td>
					                 			</tr>
					                 		#{/list}
				                 		</table> 
				                 		<div id="hello" align="center" >
                                        </div>      
                                              				                 		
				                 		<input type="submit" value="Add Time"/>    
				                #{/form}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
