#{extends './userTemplate.html' /}

<div id="id1">
	<div class="container">
		<h4>Timecardz of ${email}</h4>
		</br>
	</div>
	#{ifnot timeCards} <a class="btn" data-toggle="modal" href="#myModal">Add
		a new Time Card</a> #{/ifnot} 
		#{else}
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Week</th>
				<th>No. of Hours</th>
				<th>Status</th>
				<th>Action</th>
		</thead>
		<tbody>
			#{list timeCards, as:'timeCard'}
			<tr>
				<td>${timeCard.beginOfWeek}</td>

				<td>${timeCard.numberOfHours}</td>
				<td>#{if timeCard.status == models.StatusEnum.APPROVED}
					<button class="btn btn-success btn-mini disabled">
						<i class="fam-accept"></i>${timeCard.status}
					</button> #{/if} #{if timeCard.status == models.StatusEnum.CANCELLED}
					<button class="btn btn-danger btn-mini disabled">
						<i class="fam-accept"></i>${timeCard.status}
					</button>#{/if} #{if timeCard.status == models.StatusEnum.SUBMIT}
					<button class="btn btn-primary btn-mini disabled">
						<i class="fam-accept"></i>${timeCard.status}
					</button> #{/if}
				</td>

				<td>#{if timeCard.status == models.StatusEnum.APPROVED} <a
					class="btn1" href="@{OtherStuff.employee(timeCard.id)}">view</a>#{/if}
					#{if timeCard.status == models.StatusEnum.CANCELLED} <a
					class="btn1" href="@{OtherStuff.employee(timeCard.id)}">edit
						and submit</a>#{/if} #{if timeCard.status == models.StatusEnum.SUBMIT}
					<a class="btn1" href="@{OtherStuff.employee(timeCard.id)}">view
						and update</a>#{/if}
				</td>
			</tr>
			#{/list}
		</tbody>
	</table>
	</br> #{if timeCard.beginOfWeek != beginOfWeek} <a class="btn"
		data-toggle="modal" onclick="shows()">Add a new Time Card</a> #{/if} 
		#{/else}

	<div class="modal hide" id="myModal" data-backdrop="false">
		<!-- note the use of "hide" class -->
		#{ifnot view}
		<div class="modal-header">
			<h4>
				TimeCardz of <strong> ${beginOfWeek}.
			</h4>
			<h4>
				Enter the time for </strong> this week. Your manager will be </strong> notified.Make
				sure </strong> to enter a valid time. </strong>
			</h4>
			<div align="right">
				<a href=" @{OtherStuff.employee()}" class="btn active"><i
					class="fam-arrow-left"></i> Back</a>
			</div>
			<div class="form">
				#{form @OtherStuff.postTimeAddition2()}
				<table class="table table-striped table-bordered table-condensed">
					<tr>
						<th class="span2">Day</th>
						<th class="span2">No. of hours</th>
						<th class="span2">Remarks</th>
					</tr>
					#{list dayCards, as:'dayCard'}
					<tr>
						<td class="span2">${dayCard.date}</td>
						<td class="span2"><div class="time"><input class="input-small" type="number"
							placeholder="Hours" name="noofhours[${dayCard_index-1}]"  /></div>
						</td>
						<td class="span2"><input type="text" placeholder="Remark"
							name="details[${dayCard_index-1}]" value="" /></td>
					</tr>
					#{/list}
				</table>
				<div id="hello" align="right"></div>

				<input type="submit" value="Add Time" class="pull-right" /> #{/form}

			</div>

		</div>

	</div>
</div>
#{/ifnot}
 #{if view}
<div class="modal-header">
	<h4>
		TimeCardz of <strong> ${timeCards.beginOfWeek}</strong>
	</h4>
	<div align="right">
		<a href=" @{OtherStuff.employee()}" class="btn active"><i
			class="fam-arrow-left"></i> Back</a>
	</div>
	</br>
	<div class="form">
		#{form @OtherStuff.postTimeAddition2()} <input type="hidden"
			name="timeCardId" value="${timeCard.id}" />
		<table class="table table-striped table-bordered table-condensed">
			<tr>
				<th class="span2">date</th>
				<th class="span2">No. of hours</th>
				<th class="span2">Remarks</th>
			</tr>
			%{ String[] dayCardsid = new String[7]; }% #{list dayCardDbo,
			as:'dayCard'}

			<input type="hidden" name="dayCardsid[${dayCard_index-1}]"
				value="${dayCard.id}" />
			<tr>
				<td class="span2">${dayCard.date}</td> #{if readOnly}
				<td class="span2"><input type="number" placeholder="Hours"
					name="noofhours[${dayCard_index-1}]"
					value="${noofhours[dayCard_index-1]}" readonly="readonly" /></td>
				<td class="span2"><input type="text" placeholder="Remark"
					name="details[${dayCard_index-1}]"
					value="${details[dayCard_index-1]}" readonly="readonly" /></td>
			</tr>
			#{/if} #{else}
			<td class="span2">
				<div class="time">
					<input type="number" placeholder="Hours"
						name="noofhours[${dayCard_index-1}]"
						value="${noofhours[dayCard_index-1]}" />
				</div>
			</td>
			<td class="span3"><input type="text" placeholder="Remark"
				name="details[${dayCard_index-1}]"
				value="${details[dayCard_index-1]}" /></td>
			</tr>
			#{/else} #{/list}
		</table>
		<div id="hello" align="right"></div>
		<div align="right">
			Total No of Hours:${timeCard.numberOfHours}</br> status:${timeCard.status}
			<input type="submit" class="btn-primary" value="Update">
		</div>
		#{/form}

	</div>
</div>
#{/if}
</div>

<script>

var updatesum = function() {
	var sum = 0;
	$(".time input").each(function() {
		
		if(!($(this).val().trim()===""))
			sum += parseInt($(this).val());
	});
	var hellodiv = $("#hello");
	$(hellodiv).empty()
	$(hellodiv).append("Sum of the total hours is:" + sum);
}

$(document).ready(function(){
	 $(".time input").bind("change", updatesum);
	 $("#myModal").css('width','700px');
	 $(".modal-body").css('width','660px');
	 $(".modal-header").css('width','650px');
	 $(".modal-backdrop").removeAttr('background-color');
	 #{if view}
	  $("#myModal").show();
   	 #{/if} 
		
});
</script>