#{extends './userTemplate.html' /}
<div class="container">
<h4>MyTime Cards</h4>
</div>
    #{ifnot timeCards}
       	<a href="/addtime"><span style="color: blue;">Add a new Time Card</span></a>
    #{/ifnot}
    #{else}
		<table class="table table-striped table-bordered table-condensed">
			<thead>
			    <tr>
		            <th>Week</th> 
		            <th>No. of Hours</th>
		            <th>Status</th>
		            <th>Action</th>
			    </tr>
			</thead>
			<tbody>
				#{list timeCards, as:'timeCard'}
	       		  <tr>
	          		  <td>
	          		  
	       				${timeCard.beginOfWeek}
	      		      </td>
			          <td>
	            		${timeCard.numberOfHours}
			          </td>
			         <td>
			           #{if timeCard.status == models.StatusEnum.APPROVED}  <button class="btn btn-success btn-mini disabled"><i class="fam-accept"></i>${timeCard.status} </button>  #{/if}
					    #{if timeCard.status == models.StatusEnum.CANCELLED} <button class="btn btn-danger btn-mini disabled"><i class="fam-accept"></i>${timeCard.status} </button>#{/if}
						 #{if timeCard.status == models.StatusEnum.SUBMIT}<button class="btn btn-primary btn-mini disabled"><i class="fam-accept"></i>${timeCard.status} </button> #{/if}	
			          </td>
			          <td> 
			           #{if timeCard.status == models.StatusEnum.APPROVED}  <a class="btn1" href="@{OtherStuff.employee(timeCard.id)}">view</a>#{/if}
			          #{if timeCard.status == models.StatusEnum.CANCELLED} <a class="btn1" href="@{OtherStuff.employee(timeCard.id)}">edit and submit</a>#{/if}
			         #{if timeCard.status == models.StatusEnum.SUBMIT}   <a class="btn1" href="@{OtherStuff.employee(timeCard.id)}">view and update</a>#{/if}
			          </td>
		          </tr>
		        #{/list} 
			</tbody>
		</table>
		</br>
		#{if timeCard.beginOfWeek != beginOfWeek}
		<a href="/addtime"><span style="color: blue;">Add a new Time Card</span></a>
		#{/if}
		<a href="/addtime"><span style="color: blue;">Add a new Time Card</span></a>
			
	#{/else}
	
	