#{extends 'main.html' /}
#{set title:'Sign-up' /}

    <!-- Sign In Option 1 -->
    <div id="sign_up1">
        <div class="container">
            <div class="row">
                <div class="span12 header">
                    <h4>Create your account</h4>
                    <p>
                        There are many variations of passages of Lorem alteration in some form  injected humour these randomised words .</p>

                    <div class="span4 social">
                        <a href="#" class="circle facebook">
                            <img src="/public/img/face.png" alt="">
                        </a>
                         <a href="#" class="circle twitter">
                            <img src="/public/img/twt.png" alt="">
                        </a>
                         <a href="#" class="circle gplus">
                            <img src="/public/img/gplus.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="span3 division">
                    <div class="line l"></div>
                    <span>or</span>
                    <div class="line r"></div>
                </div>

                <div class="span12 footer">
    			#{form @Register.postRegister()}
                 		<input type="text" placeholder="Email" name="email" value=""/>
                        <input type="password" placeholder="Password" name="password" value = "" />
                        <input type="password" placeholder="Confirm Password" name= "verifyPassword" value="" />
                        <input type="submit" placeholder="Confirm Password" value="sign up"/>
                #{/form}
                </div>

                <!-- <div class="span5 remember">
                    <label class="checkbox">
                        <input type="checkbox"> Remember me
                    </label>
                    <a href="#">Forgot password?</a>
                </div> -->

                <div class="span12 dosnt">
                    <span>Already have an account?</span>
                    <a href="/signin">Sign in</a>
                </div>
            </div>
        </div>
    </div>

<!--     Sign In Option 2
    <div id="sign_up2">
        <div class="container">
            <div class="section_header">
                <h3>Sign up <span>(option 2)</span></h3>
            </div>
            <div class="row login">
                <div class="span5 left_box">
                    <h4>Create your account</h4>

                    <div class="perk_box">
                        <div class="perk">
                            <span class="icos ico1"></span>
                            <p><strong>Lorem alteration</strong> in some form  injected humour these randomised words .</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico2"></span>
                            <p><strong>There are many variations</strong> of passages of Lorem alteration in some form  injected humour these randomised words.</p>
                        </div>
                        <div class="perk">
                            <span class="icos ico3"></span>
                            <p><strong>Alteration in some form</strong> injected humour these randomised words.</p>
                        </div>
                    </div>
                </div>

                <div class="span6 signin_box">
                    <div class="box">
                        <div class="box_cont">
                            <div class="social">
                                <a href="#" class="circle facebook">
                                    <img src="/public/img/face.png" alt="">
                                </a>
                                 <a href="#" class="circle twitter">
                                    <img src="/public/img/twt.png" alt="">
                                </a>
                                 <a href="#" class="circle gplus">
                                    <img src="/public/img/gplus.png" alt="">
                                </a>
                            </div>

                            <div class="division">
                                <div class="line l"></div>
                                <span>or</span>
                                <div class="line r"></div>
                            </div>

                            <div class="form">
                                <form>
                                    <input type="text" placeholder="Email">
                                    <input type="text" placeholder="Password">
                                    <input type="text" placeholder="Confirm Password">
                                    <div class="forgot">
                                        <span>Already have an account?</span>
                                        <a href="sign-in.html">Sign in</a>
                                    </div>
                                    <input type="submit" value="sign up">
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  --> 

   